name: Docker Image CI

on: [push]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up QEMU for ARM Emulation
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          use: true

      - name: Build the Docker image
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --tag "reviewdog-actionlint:$(date +%s)" \
            --file Dockerfile \
            .
