
name: reviewdog
on: [pull_request]

permissions:
  contents: read
  checks: write
  pull-requests: write
  issues: write

jobs:
  actionlint:
    name: runner / actionlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - name: actionlint
        uses: ./
        with:
          tool_name: actionlint

  reviewdog:
    name: runner / reviewdog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - name: actionlint w/ reviewdog
        uses: ./
        with:
          actionlint_flags: examples/broken-workflow.yml
          tool_name: reviewdog

  shellcheck:
    name: runner / shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - name: actionlint w/ shellcheck
        uses: ./
        with:
          actionlint_flags: examples/shellcheck.yml
          tool_name: shellcheck

  pyflakes:
    name: runner / pyflakes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - name: actionlint w/ pyflakes
        uses: ./
        with:
          actionlint_flags: examples/pyflakes.yml
          tool_name: pyflakes
